/* Reset */
@import url("reset.css");
/* Fonts */

.header-container{
	padding-top: 10px;
	background-color: red;
	border-radius: 10px;
}
.bt-niw{
	background-color: aqua;
	border-radius: 8px;
	margin-top: 10px;
	padding: 20px auto;
}
.spinner{
	margin-top: 30px;
	width: 100px;
	height: 100px;
	background: linear-gradient(45deg,#ff6d6d,#5f27cd);
	border-radius: 50%;
	margin-left: 20px;
	animation: spin 3s infinite linear;
}

@keyframes spin {
	from {
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
.spiner-2{
	width: 80px;
	height: 80px;
	margin-top: 30px;
	margin-left: 20px;
	background: linear-gradient(135deg,#ace0,#33d9b2);
	border-radius: 20px;
	animation: spin2 3s infinite linear;
}

@keyframes spin2 {
	0%{
		transform: scale(1) rotate(0deg)
	}
	25%{
		transform: scale(1.2) rotate(90deg)
	}
	50%{
		transform: scale(0.8) rotate(180deg)
	}
	75%{
		transform: scale(1.4) rotate(270deg)
	}
	100%{
		transform: scale(1) rotate(360deg)
	}
}
.image-anim{
	margin-top: 20px;
	margin-left: 30px;
	width: 512px;
	height: 512px;
	background-image: url(/images/unnamed.png);
	animation: spin 3s infinite linear;
}